<section>
  <div class="row">
    <div class="col-sm-5">
      <div class="p-profile"></div>
    </div>
    <div class="col2 col-sm-7">
      <span class="p-tag">Hi there!</span>
      <h6 class="p-title mt-16">I'm Amarachi Ajah</h6>
      <h4>A UI/UX Designer & Front-end Developer</h4>
      <p>I am multidisciplinary and talented Nigerian based in Lagos. I'm passionate about 
          helping you turn your dreams and ideas into reality; using quality images to tell 
          beautiful stories.</p>
      <a>Read more<em class="fa fa-caret-right"></em></a>

    </div>
  </div>
</section>
