.p-profile{
    background: url(/assets/img/me.svg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

.p-tag{
    background-color: #c4c4c4;
       
}

.p-title{
    padding-top: 16px;
    padding-bottom: 4px;
}

// .btn{
//     background-color: #BB80AC;
// }