.p-profile{
    background: url(/assets/img/me.svg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

.p-rgt-sec{
    display: flex;
    flex-direction: column;
}

.p-tag{
    background-color: #c4c4c4;
       
}

.p-title{
    padding-top: 16px;
    padding-bottom: 4px;
}

form .form-group{
    box-shadow: 1px 2px 12px 1px #0003;
    width: 80%;
}

form .form-control{
    min-height: 60px;
    padding: 10px 20px;
    border-radius: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: fff;
    width: calc(100% - 131px);
}

form .btn{
    background-color: #BB80AC;
    min-height: 60px;
    border: 0;
    border-radius: 0;
    padding: 10px 35px;
    font-weight: 500;
}